.app-container .body {
    grid-area: body;
    display: flex;
    justify-content: center;
    position: relative;
}

.app-container .body .class-period-container {
    height: 400px;
    width: 500px;
    position: absolute;
    transition-property: bottom, left, box-shadow, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.app-container .body .timers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
