.remaining-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.remaining-container .time-part {
    font-size: 70px;
    font-variant-numeric: tabular-nums;
    margin-right: 9px;
}


.remaining-container.time-up {
    animation: times-up 3s infinite;
    justify-content: center;
    font-size: 60px;
}

@keyframes times-up {
    0% { color: black; background: transparent; }
    50% { color: white; background: red; }
    100% { color: black; background: transparent; }
}