.remaining-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.remaining-container .time-part {
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: 50px;
}

.remaining-container .time-part .value {
    flex: 0 0 30%;
    margin-right: 15px;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.remaining-container .time-part .label {
    flex: 1 0;
}

.remaining-container.time-up {
    animation: times-up 3s infinite;
    justify-content: center;
    font-size: 60px;
}

@keyframes times-up {
    0% { color: black; background: transparent; }
    50% { color: white; background: red; }
    100% { color: black; background: transparent; }
}