.remaining-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.pause-message {
    font-size: 50px;
}

.remaining-parts {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.remaining-parts .time-part {
    font-size: 70px;
    font-variant-numeric: tabular-nums;
    margin-right: 9px;
    font-weight: bold;
}
