.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "header" "body";
  min-height: 100vh;
  min-width: 100vw;
}

.app-container > header {
  border-bottom: 3px solid darkslategray;
  grid-area: header;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
